# Lists

**Creating a list**:

```python
my_list = [2, 6, 9, 12]
data = ["hello", "world", "!"]
```

**Modifying lists**:

```python
nums = [42, 100]

nums.append(8)
nums.insert(0, 200)
nums.append(51)

print(nums)
```

**Accessing list elements**:

```python
nums = [4, 78, 3, 9]

print(nums[2])
print(nums[-1])

```

**Concatenating Lists**:

```python
left = [1, 2, 3]
right = [4, 5, 6]

new = left + right
print(new)
```

**Removing items from Lists**:

```python
data = [4, 8, 12, 16, 20]

num1 = data.pop(2)
num2 = data.pop(-2)

print(data)

```


#### Ex 5.0

Write a program that follows the following steps, what is the output of this program?

1. Create a list `nums` that stores the 3 integers between `22` and `24` (inclusive).
1. Create a list `data` that stores the 2 integers `17` and `55`.
1. Using the `data` list, append 2 addtional integers: `20` and `65`
1. Remove the second element of `nums`
1. Insert the integer `34` at Index 1 of `nums`
1. Remove the last element of `data` and insert it at the beginning of `nums`
1. Print `nums` and `data` concatenated in this order (all the values of `nums` first, then all the values of `data`

In [ ]:
# 1
nums = _________

# 2
data = _________

# 3
data._________(_________)
data._________(_________)

# 4
nums._________(_________)

# 5
nums._________(_________, _________)

# 6
last_elem = data._________()
nums._________(_________, _________)

# 7
print(_________)

___

#### Ex 5.1

For the following list `nums` calculate the:
* max value
* min value
* mean value (i.e. the average)

**HINT**: For the average use a combination of `sum` and `len`

In [ ]:
nums = [4, 8, -17, 23, 55]

max_value = _________
min_value = _________
avg_value = _________

print(max_value)
print(min_value)
print(avg_value)

#### Ex 5.1.0 (Extension!)

Write a `for` loop that doubles all the elements of nums (i.e. after the for-loop every elemen in `nums` should have been multiplied by 2).

Calculate the new `max_value`, `min_value` and `avg_value`

___

# Dictionaries

**Creating a dictionary**:

```python
nums = {"num1": 42, "num2": 100, "num3": 8}
data = {"foo": 8.2, 100: "bar"}

print(nums)
print(data)
```

___

#### Ex 5.2

Write a program that creates a new dictionary `letters` containing the three letters `a`, `b`, `c` as keys and assigning them the integer values `1`, `2` and `3`

In [ ]:
letters = _________

print(letters)

___

#### Ex 5.3

Write a program that creates a new dictionary called `pets` which stores the names of my three pets together with their age (as an integer):
* `Snowball` is 3 years old
* `Flopsie` is 5 years old
* `Schnitzel` is 1 year old

In [ ]:
pets = _________

print(pets)

___

**Accessing dictionary elements**:

```python
heights = {"Charles": 175, "Adam": 160, "Florence": 180}

print(heights["Adam"])
print(heights["Florence"])
```

___

#### Ex 5.4

Write a program that given a dictionary `grades` prints out:
1. The grade of student `Bob`
2. The grade of student `Zethus`
3. The sum of the grades of `Bob` and `Alice`
4. The average of the grades of `Alice`, `Bob` and `Charlie`

In [ ]:
grades = {"Alice": 9.0, "Bob": 7.5, "Charlie": 8.3, "Zethus": 6.0}

# 1
print(grades[_________])

# 2
print(grades[_________])

# 3
print(grades[_________] + print(grades[_________]))

# 4
print(_________)

___

**Modifying dictionaries**:

```python
data = {"a": 42, "b": 3}


# Adding new keys:
data["c"] = 800
data["d"] = 4.5
print(data)

# Modifying values of existing keys:
data["a"] = 10
data["b"] = 3.2
print(data)

```

___

#### Ex 5.5

Write a program that given a dictionary `scores` does the following:
1. Prints out the score of `Rob`
2. Adds a score of 4 for new user `Dan`
3. Prints the score of `Dan`
4. Replaces the score of `Rob` with the number 6
5. Prints the updated score of `Rob`
6. Prints the final `scores` dictionary

In [ ]:
scores = {"Rob": 10, "Michelle": 2}

# 1
print(scores[_________])

# 2
scores[_________] = _________

# 3
print(scores[_________])

# 4
scores[_________] = _________

# 5
print(scores[_________])

# 6
print(_________)

#### Ex 5.5.0 (Extension!)

Create a list `names` with 5 names of your choosing.

Using a `for` loop (you **must** use a loop for this extension), for every element in `names` add it to the `scores` dictionary with a score of `10`.

Then print the final dictionary

___

**Deleting dictionary entries**:

```python
data = {"a": 42, "b": 3, "c": 100}

del data["a"]
del data["c"]
print(data)
```

___

#### Ex 5.6

Write a program that given a dictionary `money` does the following:
1. Deletes the entry for `Rob`
2. Prints the updated `money` dictionary
3. Removes `40` euro from `Dan`
4. Prints the updated `money` dictionary
5. Adds `40` euro to `Adam`
6. Prints the updated `money` dictionary

In [ ]:
money = {"Adam": 100, "Rob": 200, "Dan": 60}

# 1
_________ money[_________]

# 2
print(_________)

# 3
money[_________] -= _________

# 4
print(_________)

# 5
money[_________] += _________

# 6 
print(_________)

___

#### Ex 5.7

Write a program that given a list of `names`, a matching list of `measurements` and an empty dictionary `heights`:
1. Using a `for` loop add each person's name and their corresponding height into `heights`. For example person `Adam` must have a matching height of 175.
1. Calculate (and print) the sum of the heights of `Adam`, `Dan` and `Rob`
1. Add a new entry in `heights` for `Charlie` who has a height of 190
1. Print the length of `heights`. HINT: You can use the `len` function
1. Print the name of the tallest person. HINT use `max` and use a `for`-loop!
1. Remove the entry in `heights` for `Dan`
1. Print out the final dictionary `heights`

In [ ]:
names = ["Dan", "Rob", "Adam", "Matt"]
measurements = [140, 165, 155, 142]
heights = {}

# 1
for i in range(_________):
    heights[_________] = measurements[_________]

print(heights)

# 2
print(_________)

# 3
_________

# 4
print(_________)

# 5
max_height = max(_________)
for i in range(_________):
    name = names[i]
    if _________ == _________:
        print(name)

# 6
_________

# 7
print(_________)


Given a dictionary `colors`,
1. Print the length of the dictionary.
2. Convert the keys of the dictionary to a list and print it.
3. Convert the values of the dictionary to a list and print it.


Given a dictionary `inventory`, iterate over the dictionary and print each fruit and its quantity in the format:
* `"There are [quantity] [fruit]"`

Given a dictionary `inventory`, iterate over the dictionary and calculate the total quantity of fruits. Print the total.

Write a program that performs the following tasks:
1. Create a dictionary `student_marks` with at least five students' names as keys and their marks as values. Marks go from `2` to `10`.
1. Print the name of the student with the highest mark (use a loop to determine this).
1. Remove the student with the lowest mark from the dictionary.
1. Add a new student `"Emily"` with a mark of `8.7`.
1. Print the updated dictionary.
1. Calculate and print the average mark of the class.