#### Ex 10.0

In [ ]:
import pandas as pd

#### Ex 10.1

In [ ]:
df = pd.read_csv("titanic_dataset.csv")
df

#### Ex 10.2

#### Ex 10.3

#### Ex 10.4

Use `loc` to select the row at index 3

#### Ex 10.5

Use `loc` to select the rows between index 2 and index 6 (inclusive)

#### Ex 10.6

Use `loc` to select the first 5 rows of the dataframe `df`

#### Ex 10.6.1 (Extension!)

Use `loc` to select rows where the index is a multiple of 4.

**NOTE**: You can pass down a list to `df.loc` such as `df.loc[[0, 2, 4, 10]]`

___

#### Ex 10.7

Use `loc` to select the first 10 rows of df **and** only include the `'Name'` column in your selection.

#### Ex 10.8

Use `loc` to select all rows **after** index 400 of `df` **and** only include the `'Name'` and `'Age'` columns in your selection.

#### Ex 10.9

Use `loc` to select all rows of `df` **and** only include the `'Age'`, `'Fare'` and `'Pclass'` columns in your selection.

#### Ex 10.9.1 (Extension!)

Use `loc` to select all rows where the last digit of the index is `5` (i.e. `5`, `15`, `25`, etc) and include columns `'Pclass'`, `'Name'`, and `'Embarked'`.

___

#### Ex 10.10

Using boolean indexing, select passengers are older than 30

#### Ex 10.11

Using boolean indexing, select all passengers who are in first class (`Pclass` is equal to `1`)

#### Ex 10.12

Using boolean indexing, select all passengers who are in `Cabin` `"G6"`.

Why do you think there are multiple people from different households?

#### Ex 10.13

Using boolean indexing, select passengers who paid a fare lower than `$100`

#### Ex 10.14

Using boolean indexing, select passengers who survived the Titanic disaster (`Survived` is 1)

#### Ex 10.14.1 (Extension!)

Find passengers who paid a fare greater than the average.

You may find the average fare by using `df["Fare"].mean()`

#### Ex 10.14.2 (Extension!)

Find the cabin which was shares by most people.

You can get the list of all cabins by using:
```
cabins = list(df["Cabin"].unique())
```

**NOTE**: I would recommend using a for-loop

___

#### Ex 10.15

Rewrite the following boolean indexing selection using the shorthand:

```
df[df.loc[:, "Age"] > 30]

```

#### Ex 10.16

Using boolean indexing chaining select all the first-class passengers that were under 18 years of age

#### Ex 10.17

Using boolean indexing chaining select all the passengers that were either under `18` or over `60` years of age.

#### Ex 10.18

Using boolean indexing chaining find all passengers who embarked from Southampton (`'S'`) and paid a fare less than `$50`.

#### Ex 10.19

Select passengers who are between `20` and `30` years old and paid a fare greater than `$100`.

#### Ex 10.19.1 (Extension!)

Find all passengers who were either in the `1st` or `2nd` class and aged between `30` and `40`, or in the `3rd` class and aged between `18` and `25`, and who did **not** survive.

#### Ex 10.19.2 (Extension!)
Select passengers who embarked from 'S' or 'C', paid a farelower than the average fare and are not in first class.

You may find the average fare by using `df["Fare"].mean()`