#### Ex 11.0

In [ ]:
import pandas as pd
import numpy as np

#### Ex 11.1

In [ ]:
df = pd.read_csv("titanic_dataset.csv")
df

#### Ex 11.2

Select passengers who paid a fare greater than `$500`.

#### Ex 11.3

Select all the third-class passengers that were under `6` years of age.

#### Ex 11.4

Select passengers who are between `70` and `85` years old and paid a fare greater than `$25`.

What passenger class are they all in?

#### Ex 11.5

Select passengers that embarked from `Cherbourg` (`C`) or from `Queenstown` (`Q`).

How many rows do you get? What does this tell you of where the majority of passengers embarked from?

#### Ex 11.6

Select passengers that either embarked without siblings or spouses (`SibSp` is `0`), or that did embark with one sibling or spouse and are under the age of `18`.

#### Ex 11.6.1 (Extension!)

Find the name of the wife of `Crosby, Capt. Edward Gifford`

___

#### Ex 11.7

#### Ex 11.8

#### Ex 11.9

---

#### Ex 11.10

Find the average age of passengers that survived the titanic and compare it to the average age of those that did not survive.

Which one is lower? Why?

#### Ex 11.11

How many passengers survived the titanic in total?

#### Ex 11.12

What is the smallest fare paid by someone with a parent or a child (`Parch` is greather than `1`)?

#### Ex 11.12.1 (Extension!)

Who paid more on average? Passengers embarked from Southhampton or from Cherbourg?
And on average who had the oldest passengers?

---

#### Ex 11.13

#### Ex 11.14

---

#### Ex 11.15

Use `groupby` to calculate the average fare for every port that passengers embarked from.

Which passenegrs had the most expensive fares?

#### Ex 11.16

Use `groupby` to calculate the average age in each passenger class.

Which passenger class has the oldest members?

#### Ex 11.17

Select passengers which are older than 50 years old, then group them by number of siblings or spouses and use `count` to find the total. 

Which category of passengers has the most members?

#### Ex 11.17.1 (Extension!)

Of the passengers that survived find the average fare paid by the males and the females.

Who paid on average more?

**HINT**: Use `groupby`