# Lists

**Creating a list**:

```python
my_list = [2, 6, 9, 12]
data = ["hello", "world", "!"]
```

**Modifying lists**:

```python
nums = [42, 100]

nums.append(8)
nums.insert(0, 200)
nums.append(51)

print(nums)
```

**Accessing list elements**:

```python
nums = [4, 78, 3, 9]

print(nums[2])
print(nums[-1])

```

**Concatenating Lists**:

```python
left = [1, 2, 3]
right = [4, 5, 6]

new = left + right
print(new)
```

**Removing items from Lists**:

```python
data = [4, 8, 12, 16, 20]

num1 = data.pop(2)
num2 = data.pop(-2)

print(data)

```


#### Ex 6.0

Write a program that follows the following steps, what is the output of this program?

1. Create a list `nums` that stores the 2 floats `4.5` and `0.2` (inclusive).
1. Prints the length of the list `nums`
1. Append 2 addtional floats to `nums`: `1.1` and `20`
1. Remove the second element of `nums` and add it as the last element
1. Print the updated list `nums`
1. Insert the float `3.4` at Index 1 of `nums`
1. Print the updated list `nums`

In [ ]:
# 1
nums = _________

# 2
print(_________)

# 3
nums._________(_________)
nums._________(_________)

# 4
elem = nums._________(_________)
nums._________(_________)

# 5
_________

# 6
nums._________(_________, _________)

# 7
_________

#### Ex 6.0.1 (Extension!)

8. Print the smallest value in `nums`
1. Print the average of `nums`
1. Print the three largest values in `nums` (this should be printed as a list of 3 elements)

___

# Dictionaries

**Creating a dictionary**:

```python
nums = {"num1": 42, "num2": 100, "num3": 8}
data = {"foo": 8.2, 100: "bar"}

print(nums)
print(data)
```

**Accessing dictionary elements**:

```python
heights = {"Charles": 175, "Adam": 160, "Florence": 180}

print(heights["Adam"])
print(heights["Florence"])
```

**Modifying dictionaries**:

```python
data = {"a": 42, "b": 3}


# Adding new keys:
data["c"] = 800
data["d"] = 4.5
print(data)

# Modifying values of existing keys:
data["a"] = 10
data["b"] = 3.2
print(data)

```

**Deleting dictionary entries**:

```python
data = {"a": 42, "b": 3, "c": 100}

del data["a"]
del data["c"]
print(data)
```

___

#### Ex 6.1

Write a program that given a dictionary `bank` does the following:
1. Prints the balance for `Rob` (i.e. prints how much money `Rob` has)
1. Transfers £50 from `Rob` to `Dan` (i.e removes £50 from `Rob` and adds £50 to `Dan`)
1. Prints the updated balance for `Rob` and `Dan`
1. Adds a new user `Pat` with a balance of £2
1. Removes user `Adam` from the bank (thus removing Adam's balance)
1. Print the dictionary `bank` to show the outcome of all operations

In [ ]:
bank = {"Adam": 100, "Rob": 200, "Dan": 60}

# 1
print(bank[_________])

# 2
bank[_________] -= _________
bank[_________] += _________

# 3
print(_________)
print(_________)

# 4
bank[_________] = _________

# 5
_________ bank[_________]

# 6 
print(_________)

#### Ex 6.1.1 (Extension!)

7. Create a new list `users` which you need to initialise with the following values: `["Amy", "Eve", "Will", "Wes"]`
1. For each user in `users` add them to the `bank` with a balance of £35 (use a for-loop)
1. For each user in `users` update their balance adding an extra £50 to their balance. You must use a for-loop and use the `+=` operator.

___

**Iterating Lists**:

1) Index-iteration

```python
nums = [10, 20, 30, 40]

for i in range(len(nums)):
   print(nums[i])
```

2) For-each loop

```python
nums = [10, 20, 30, 40]

for num in nums:
   print(num)
```

___

#### Ex 6.2

Write a program that given a list of `items` does the following:
1. Prints out every item in the list using **index-based** iteration
1. Prints out every item in the list using a **for-each** loop

In [ ]:
items = ["apple", "banana", "cherry"]

# 1
for _________:
   print(_________)

# 2
for _________:
   print(_________)

#### Ex 6.2.1 (Extension!)

You are also given a dictionary `costs` with data: `{"apple": 2.5, "banana": 1.5, "cherry": 6}`.

Using a for-loop ober the `items` list, you must print out the cost (stored in the `costs` dictionary) associated with each item in `items`.

___

**Iterating Dictionaries**:

1) Key-iteration

```python
data = {"a": 4, "f": 1, "z": 8}

for key in data:
   value = data[key]
   print(key, value)
```

2) For-each loop

```python
data = {"a": 4, "f": 1, "z": 8}

for key, value in data.items():
  print(key, value)
```

___

#### Ex 6.3

Given the dictionary `inventory`, iterate over the dictionary and print each fruit and its quantity in the format:
```
				"There are [quantity] [fruit]"
```

In [ ]:
inventory = {"apples": 30, "bananas": 45, "cherries": 25}

for _________, _________ in inventory._________():
   print("There are " + str(_________) + " " + _________)

___

#### Ex 6.4

Given the dictionary `inventory`, iterate over the dictionary and calculate the total quantity of fruits. Print the total.

In [ ]:
inventory = {"apples": 30, "bananas": 45, "cherries": 25}

total = 0

for _________, _________ in inventory._________():
   total += _________
  
print(_________)

#### Ex 6.4.1 (Extension!)

Also using a for-loop find out the name of the fruit with the highest quantity in the `inventory`.

**TIP**: You should use two new variables `highest_fruit_name` and `highest_fruit_quantity`, every loop you can then check if the quantity of the current fruit you are looking at is greater than `highest_fruit_quantity`.

___

# Sets


**Creating a set**:

```python
nums = {42, 100, 42}
data = {"A", "C", "D"}

print(nums)
print(data)
```

**Add elements to a set**:

```python
nums = {42, 100}

nums.add(8)
```

**Remove elements from a set**:

```python
nums = {42, 100}

nums.remove(100)
```

___

#### Ex 6.5

Write a program that:

1. Create a set `numbers` with integers 1, 2, and 3.
2. Add the number 4 to the set.
3. Remove the number 2 from the set.
4. Prints the final set `numbers` after all changes

In [ ]:
# 1
numbers = _________

# 2
numbers._________(_________)

# 3
numbers._________(_________)

# 4
print(_________)

___

#### Ex 6.6

Write a program that given a set `data` uses a for-loop to add every element of a list `nums` to `data`

In [ ]:
data = {4, 8, 2}

nums = [5, 6, 7, 9]

for _________:
    data._________(_________)

print(data)

___

**Set Theory**:

```python
set1 = {"A", "B", "C"}
set2 = {"B", "C", "D"}

# Union:
print(set1 | set2)

# Intersection
print(set1 & set2)

# Difference
print(set1 - set2)
```

___

#### Ex 6.7

Given three schools: `ist`, `ism` and `isb`, write a program that:
1. Finds students who are in both `ist` and `ism`.
2. Finds students who are in `ism` but not in `isb`.
3. Finds students who are in any one of the three schools (union).
4. Finds students who are in all three schools.

In [ ]:
ist_students = {"Alice", "Bob", "Charlie"}
ism_students = {"Bob", "Daisy", "Charlie"}
isb_students = {"Charlie", "Fiona", "Ethan"}

# 1
both_ist_ism = _________
print(both_ist_ism)

# 2
ism_not_isb = _________
print(ism_not_isb)

# 3
any_school = _________
print(any_school) 

# 4
all_schools = _________
print(all_schools)