# Loops

**REMEMBER**: Anatomy of a while-loop

* Uses the `while` keyword
* Ends with a colon (`:`)
* Uses tabs for spacing from the outside scope

**Example**:

```python
x = 5

while x < 10:
    print(x)
    x += 1
```

**REMEMBER**: Anatomy of a for-loop

* Uses the `for` keyword
* Ends with a colon (`:`)
* Takes up to 3 parameters:
    1. Start number (optional, default is 0)
    1. End number
    1. Step-size (optional, default is 1)

**Examples**:

```python
for x in range(10):
   print(x)
```

```python
for x in range(2, 10):
   print(x)
```

```python
for x in range(2, 10, 3):
   print(x)
```

___

#### Ex 4.0

Complete the following program.

It takes an input `num` from the user.

It should print out FULL square pattern of size `num`.

Example if `num = 4`:

```
****
****
****
****
```

**HINT**: Use loops!

In [ ]:
num = int(input("Insert the size of the square: "))

_________

#### Ex 4.0.1 (Extension!)

Extend the above program so that it should print out an EMPTY square pattern of size `num`.

Example if `num = 5`:

```
*****
*...*
*...*
*...*
*****
```

____

#### Ex 4.1

Complete the following program.

It takes an input `num` from the user.

It should print out a triangular pattern of size `num`.

Example if `num = 5`:

```
....*
...**
..***
.****
*****
```

**HINT**: Use loops!

In [ ]:
num = int(input("Insert the size of the triangle: "))

_________

#### Ex 4.1.1 (Extension!)

Extend the above program so that it should print out a full pyramid pattern of height `num`.

Example if `num = 4`:

```
...*...
..***..
.*****.
*******
```

____

# Lists

**Creating a list**:

```python
my_list = [2, 6, 9, 12]
data = ["hello", "world", "!"]
```

**Modifying lists**:

```python
nums = [42, 100]

nums.append(8)
nums.insert(0, 200)
nums.append(51)

print(nums)
```

#### Ex 4.2

Complete the following program.

Initialise a list called `nums` with three numbers inside: `6`, `90` and `43`

**HINT**: Use `append` or `insert`!

In [ ]:
nums = _________

print(nums)



#### Ex 4.3
Complete the following program.

Add the following numbers to the `nums` list: 3, 21 and 17

**HINT**: Use `append` or `insert`!

In [ ]:
nums._________(_________)
nums._________(_________)
nums._________(_________)

print(nums)

#### Ex 4.3.1 (Extension!)

Use a `for`-loop to additionally append ten times the `7` to the list `nums`.

___

**Accessing list elements**:

```python
nums = [4, 78, 3, 9]

print(nums[2])
print(nums[-1])

```

___

#### Ex 4.4
Complete the following program.

Given the `nums` list defined above print the:
* first element
* third element
* last element (use negative indexing)
* second-last element (use negative indexing)

In [ ]:
print(nums[_________])

print(nums[_________])

print(nums[_________])

print(nums[_________])

___
#### Ex 4.5
Write a program that generates a list `data` with all the numbers from 1 to 20. (**HINT**: use a for-loop!)

Then print the 5th, 10th, 15th and last element.

In [ ]:
data = []

for x in range(_________):
    data.append(_________)

print(data[_________])
print(data[_________])
print(data[_________])
print(data[_________])


#### Ex 4.5.1 (Extension!)
In the exercise above use a for loop to print all the indexes that are multiples of 5.

___

**Concatenating Lists**:

```python
left = [1, 2, 3]
right = [4, 5, 6]

new = left + right
print(new)
```

___

#### Ex 4.6

* Create list `numsL` with all numbers from 0 to 9 (inclusive)
* Create list `numsM` with a single number: 10
* Create list `numsR` with all numbers from 11 to 19 (inclusive)

Concatenate the three lists and print the output list out

In [ ]:
numsL = _________
numsM = _________
numsR = _________

print(_________)

___

**Removing items from **:

```python
left = [1, 2, 3]
right = [4, 5, 6]

new = left + right
print(new)
```

___
#### Ex 4.7

Write a program that follows the following steps, what is the output of this program?

1. Create a list `data` that stores the 6 integers between 10 and 15 (inclusive).
1. Using the `data` that list, appending 2 addtional integers: `20` and `65`
1. Then create a blank list `blank`
1. Insert the integer `34` at Index 0 of `data`
1. Remove the last element of `data` and insert it at the beginning of `blank`
1. Print the two lists concatenated

In [ ]:
# 1
data = _________

# 2
data._________(_________)
data._________(_________)

# 3
blank = _________

# 4
data._________(_________)

# 5
last_element = data._________()
blank._________(_________)

# 6
print(_________)

___

#### Ex 4.8

For the following list `nums` calculate the:
* max value
* min value
* mean value (i.e. the average)

**HINT**: For the average use a combination of `sum` and `len`

In [ ]:
nums = [4, 8, -17, 23, 55]

max_value = _________
min_value = _________
avg_value = _________

print(max_value)
print(min_value)
print(avg_value)

___

#### Ex 4.9

Write a program that given a list of numbers `nums` it creates a new list, `cumul` with cumulative sums of all elements.

i.e. if `nums` is `[2, 3, 8, 10]` then `cumul` will generated to contain values `[2, 5, 13, 23]`

In [ ]:
nums = [2, 3, 8, 10]
cumul = []

for _________:
    _________

print(cumul)