# If-Statements

Recap on syntax:
```python
x = 5

if x < 10:
   print("X is small")
else:
   print("X is large")
```
____

#### Ex 3.0

The following progam asks the user for 3 numbers between 0 and 100, if they are valid it prints the max, min and average.

In [ ]:
x = int(input("Insert the first number:"))
y = int(input("Insert the second number:"))
z = int(input("Insert the third number:"))

if _________:
   print("ERROR: One or more numbers are invalid.")
    
else:
   max_number = _________
   min_number = _________
   avg_number = _________

   print("Max number: " + str(max_number))
   print("Min number: " + str(min_number))
   print("Average number: " + str(avg_number))

#### Ex 3.0.1 (Extension!)

Extend the program above to also not allow the user to input the same number twice.

(i.e. `x`, `y` and `z` should all be different numbers)

____

#### Ex 3.1

The following program asks the user for a number.
* If the number is divisible by 2 it prints “Fizz”.
* If the number is divisible by 3 it prints “Buzz”.
* If the number is divisible by both 2 and 3 it prints “FizzBuzz”.

In [ ]:
x = int(input("Insert a number:"))

if _________ and _________:
   print("FizzBuzz")
elif _________:
   print("Fizz")
elif _________:
   print("Buzz")

#### Ex 3.1.1 (Extension!)

Extend the program above to only use a single `if` and `else`.

The program should not use any `elif` blocks.

**HINT**: Remeber you can use string concatenation (i.e. `"Hello" + " " + "World"` returns `"Hello World"`)

____

# While-Loops

#### Ex 3.2

Change the `if` statement to a `while` loop

In [ ]:
x = int(input("Insert num < 5: "))

if x >= 5:
    print("ERROR! Wrong number")
    x = int(input("Insert num < 5: "))

print("CORRECT!")

#### Ex 3.2.1 (Extension!)

Extend the program to allow users to insert numbers that are:
* Less than 5
* Greater than 100
* Even

If any of the above conditions is true about the number it should be considered `CORRECT`.

____

**REMEMBER**: Anatomy of a while-loop

* Uses the `while` keyword
* Ends with a colon (`:`)
* Uses tabs for spacing from the outside scope

**Example**:

```python
x = 5

while x < 10:
    print(x)
    x += 1
```

#### Ex 3.3

Complete the following program that prints out all the numbers from 1 to 15

In [ ]:
x = 1

while _________:
    print(x)
    x += 1

____

#### Ex 3.4

Complete the following program that prints out the first 15 multiples of 6

(i.e. it should print `6`, `12`, `18`, `24`, ... all the way to `90`)

In [ ]:
x = _________

while _________:
    print(x)
    _________

#### Ex 3.4.1 (Extension!)

Extend the program above so that it prints out more information on each output line.

Rather than printing:
```
6
12
18
...
90
```

It should print
```
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
...
6 x 15 = 90
```

**HINT**: Remeber to use string concatenation with `+`

____

# For-Loops

**REMEMBER**: Anatomy of a for-loop

* Uses the `for` keyword
* Ends with a colon (`:`)
* Takes up to 3 parameters:
    1. Start number (optional, default is 0)
    1. End number
    1. Step-size (optional, default is 1)

**Examples**:

```python
for x in range(10):
   print(x)
```

```python
for x in range(2, 10):
   print(x)
```

```python
for x in range(2, 10, 3):
   print(x)
```

#### Ex 3.5

Complete the following program to print all numbers from 0 to 15

In [ ]:
for x in _________:
    print(x)

____

#### Ex 3.6

Complete the following program to print all numbers from 5 to 20

In [ ]:
for x in _________:
    print(x)

____

#### Ex 3.7

Complete the following program to print all even numbers from 10 to 30

**HINT**: Use the step-size parameter in the for-loop

In [ ]:
for x in _________:
    print(x)

____

#### Ex 3.8

Using a for-loop complete the following program that prints out the first 15 multiples of 6

(i.e. it should print `6`, `12`, `18`, `24`, ... all the way to `90`)

In [ ]:
for x in _________:
    _________

#### Ex 3.8.1 (Extension!)

Extend the above program to be able to print out any "times-table" for any number.

It should use the `input` function to take input from the user and then print out the first 10 multiples for that number.

#### Ex 3.8.2 (Extension!)

Extend the above program to pretty-print the "times-table", similarly to exercise `3.4.1`

____

#### Ex 3.9

Complete the following program.

It takes an input `num` from the user.

It should print out FULL square pattern of size `num`.

Example if `num = 4`:

```
****
****
****
****
```

**HINT**: Use loops!

In [ ]:
num = int(input("Insert the size of the square: "))

_________

#### Ex 3.9.1 (Extension!)

Extend the above program so that it should print out an EMPTY square pattern of size `num`.

Example if `num = 5`:

```
*****
*...*
*...*
*...*
*****
```

____

#### Ex 3.10

Complete the following program.

It takes an input `num` from the user.

It should print out a triangular pattern of size `num`.

Example if `num = 5`:

```
....*
...**
..***
.****
*****
```

**HINT**: Use loops!

In [ ]:
num = int(input("Insert the size of the triangle: "))

_________

#### Ex 3.10.1 (Extension!)

Extend the above program so that it should print out a full pyramid pattern of height `num`.

Example if `num = 4`:

```
...*...
..***..
.*****.
*******
```

____