#### Ex 12.0

In [ ]:
import pandas as pd
import numpy as np

#### Ex 12.1

In [ ]:
df = pd.read_csv("titanic_dataset.csv")
df

____

# Recap Topics

### Boolean Indexing

Select all passengers older than 30:
```python
df[df["Age"] > 30]
```

Select all passengers in first class:
```python
df[df["Pclass"] == 1]
```

### Chain-Indexing

Use `|` for **OR**, use `&` for **AND**.
Must use together with brackets.

Passengers that are **either** in 1st class **or** in second class:
```python
df[(df["Pclass"] == 1) | (df["Pclass"] == 2)]
```

Passengers that are in 1st class **and** and younger than 18:
```python
df[(df["Pclass"] == 1) & (df["Age"] < 18)]
```

### Data-Analysis

You may use either of `.mean()`, `.count()`, `.max()` or `.min()`.

Get the maximum fare paid by passengers:
```python
df["Fare"].max()
```

Get the minimum age of passengers which have survived:
```python
df[df["Survived"] == 1]["Age"].min()
```

### Grouping

Get the number of passengers embarked from each harbour:
```python
df.groupby("Embarked")["Name"].count()
```

Get the percentage of people that survived for each passenger class:
```python
df.groupby("Pclass")["Survived"].mean()
```

### Using it all together

1. First we use boolean indexing
2. Secondly we use grouping
3. Finally we use data analysis functions

Get the number of passengers, aged below 18, that survived, grouped by each passenger class:
```python
df[df["Age"] < 18].groupby("Pclass")["Survived"].count()
```

___

#### Ex 12.2

Select passengers who are females *and* traveled in first class.

**HINT**: Use boolean indexing

___

#### Ex 12.3

Find the average fare paid by passengers in each class.

**HINT**: Use grouping

___

#### Ex 12.4

Find the maximum age of male passengers who perished in the Titanic disaster.

**HINT**: Use boolean indexing

____

#### Ex 12.5

Calculate the count of passengers in each class who did not survive.

**HINT**: Use boolean indexing *and* grouping

____

#### Ex 12.5.1 (Extension!)

Find the average fare of female passengers who did not survive, grouped by their class

___

#### Ex 12.5.2 (Extension!)

Calculate the total fare collected from passengers under the age of 30, grouped by their survival status (survived or did not survive).

___
#### Ex 12.6

#### Ex 12.7

___

#### Ex 12.8

Plot the total number of Passengers by Embarkation Point

#### Ex 12.9

Plot the total Fare collected from each Passenger Class

#### Ex 12.9.1 (Extension!)

Plot the average number of Parents/Children aboard (`Parch`) by Passenger Class

#### Ex 12.9.2 (Extension!)

Plot the average Fare Paid by Survivors vs. Non-Survivors (both over 30 years of age)

___
#### Ex 12.10

#### Ex 12.11

___
#### Ex 12.12

#### Ex 12.13

#### Ex 12.14

____
#### Ex 12.15

Display the total number of survivors for each passenger class

**HINT**: Use a bar-chart

___
#### Ex 12.16

Display the number of siblings (y-axis) each passenger had based on their age (x-Axis)

What insights do you gather?

___
#### Ex 12.16.1 (Extension!)

Adjust exercise 12.17 to discriminate by Passenger class. Which passenger classes had more siblings on board? In which age groups?

What if you analyse the `Parch` column instead for Parent-child relationships?